* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, h1, h2, h3, h4, p {
  font-family: 'Rubik', sans-serif;
}

input:hover {
  cursor: pointer;
}

/* *********************** HEADER **************************** */

header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }

  
  .left-side, .right-side {
    display: flex;
    align-items: center;
  }

  .left-side {
    margin-left: 1rem;
    margin-top: 0.5rem;
  }

  .paddingRight {
    margin-right: 1rem;
  }

  .right-side a {
    text-transform: uppercase;
  }
  
  .icon {
    color: white;
  }
  
  nav a {
    margin-left: 0.5rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    font-size: 10px;
  }
  
  #background-video {
    width: 100%;
    height: auto;
  }

  .textOnVideo {
    position: absolute;
    bottom: 25%;
    color: white;
    text-align: center;
    width: 50vh;
  }

  .textOnVideo h1{
    font-size: 1.5em;
    margin-bottom: 2vh;
    text-transform: uppercase;
  }

  .textOnVideo h3{
   font-size: 0.75em;
   font-weight: 200;
   margin-bottom: 2vh;
  }

  .textOnVideo input{
    padding: 0.5em;
    background-color: rgb(8, 168, 136);
    border-radius: 5px;
    color: white;
  }

  .textOnVideo input:hover {
    cursor: pointer;
  }

  /* ********************************************** SECTION2 ****************************************************** */

 .section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  margin-top: 5vh;
  margin-bottom: 8vh;
 }

 .section2left {
  width: 90%;
  display: flex;
  align-items: center;
  position: relative;
 }

 .section2right {
  width: 90%;
  /* background-color: aqua; */
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
 }

 .section2right h1{
  font-size: 1rem;
  padding-bottom: 1.7vh;
  text-align: left;
 }

 .section2right p{
  font-size: 0.5rem;
  text-align: left;
 }

 .section2 video {
  border-radius: 3px;
  width: 100%;
  height: 100%;
  /* position: relative; */
 }


 .play-button {
  color: rgb(255, 255, 255);
  position: absolute;
  background-color: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

fap-play {
  font-size: 20px;
}

/* ******************************* BLOG ********************************** */

/* .blog {
  height: 100vh;
} */

.h1blog {
  display: flex;
  justify-content: center;
  width: 80vw;
  align-items: left;
  padding-left: 9vw;
  margin-bottom: 3vh;
  font-size: 1rem;
}

.categorie {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 5vw;
  padding-right: 5vw;
}

.categorie a {
  border-radius: 5px;
  text-decoration: none;
}

.categorie input {
  background-color: transparent;
  color: white;
  padding-left: 2vw;
  margin-top: 0.5vh;
  text-transform: uppercase;
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.categorie a:nth-child(1) {
  background-color: black;
  height: 1.35rem;
  margin-bottom: 1.5vh;
}
.categorie a:nth-child(2) {
  background-color: rgb(191, 20, 74);
  height: 1.35rem;
  margin-bottom: 1.5vh;
}
.categorie a:nth-child(3) {
  background-color: rgb(8, 94, 180);
  height: 1.35rem;
  margin-bottom: 1.5vh;
}
.categorie a:nth-child(4) {
  background-color: rgb(23, 151, 23);
  height: 1.35rem;
  margin-bottom: 1.5vh;
}
.categorie a:nth-child(5) {
  background-color: rgb(58, 58, 58);
  height: 1.35rem;
  margin-bottom: 1.5vh;
}

.categorie input:hover {
  cursor: pointer;
}

/* --- Photos Blog */

.blogContainer {
  display: grid;
  gap: 1%;
  grid-template-columns: 1fr;
  width: 90%;
  margin: 2vh auto;
}

.last {
  margin-bottom: 10vh;
}


.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  margin: 0 auto;
  width: 100%;
  position: relative;
  filter: grayscale(100%);
  transition: 0.8s;
}

.grid-item:hover {
  filter: grayscale(0%);
  transition: 0.8s;
}

.grid-item img {
  /* position: relative; */
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.grid-item h3 {
  color: white;
}

.grid-item p {
  color: white;
}


.textOnImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 90%;
  left: 10%;
  transform: translate(-10%, -90%);
  color: white;
  text-align: left;
}

/* ************************* FOOTER ************************ */

.footer {
  height: 10vh;
  background-color: rgb(57, 56, 55);
}

.footer button {
  padding: 0.75em;
  border-radius: 100%;
  /* background-color: rgb(57, 56, 55); */
  background-color: transparent;
  border: black 1px solid;
  position: fixed;
  right: 5vw;
  bottom: 5vh;
  margin-right: 2vw;
  -webkit-box-shadow: 0px 0px 15px 0px #000000; 
box-shadow: 0px 0px 15px 0px #000000;
}

.footer button:hover {
  cursor: pointer;
  z-index: 10;
} 

