* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, h1, h2, h3, h4, p {
  font-family: 'Rubik', sans-serif;
}

/* *********************** HEADER **************************** */

header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }

  
  .left-side, .right-side {
    display: flex;
    align-items: center;
  }

  .left-side {
    margin-left: 1rem;
    margin-top: 0.5rem;
  }

  .paddingRight {
    margin-right: 1rem;
  }

  .right-side a {
    text-transform: uppercase;
  }
  
  .icon {
    color: white;
  }
  
  nav a {
    margin-left: 0.5rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    font-size: 10px;
  }
  
  #background-video {
    width: 100%;
    height: auto;
  }

  .textOnVideo {
    position: absolute;
    bottom: 25%;
    color: white;
    text-align: center;
    width: 50vh;
  }

  .textOnVideo h1{
    font-size: 1.5em;
    margin-bottom: 2vh;
    text-transform: uppercase;
  }

  .textOnVideo h3{
   font-size: 0.75em;
   font-weight: 200;
   margin-bottom: 2vh;
  }

  .textOnVideo input{
    padding: 0.5em;
    background-color: rgb(8, 168, 136);
    border-radius: 5px;
    color: white;
  }

  /* ********************************************** SECTION2 ****************************************************** */

 .section2 {
  display: flex;
  justify-content: center;
  gap: 3vw;
 }

 .section2left {
  width: 45%;
  background-color: rgb(241, 124, 8);
 }

 .section2right {
  width: 45%;
  background-color: aqua;
 }

 .section2right h1{
  font-size: 1.2rem;

 }

 .section2right p{
  font-size: 0.5rem;
  text-align: justify;
 }